<section>
  <div>
    <input type="text" placeholder="Search for Mushrooms..." ng-model="searchText">
  </div>
  <div>
    <input type="radio" value="edible" id="edible" name="mushroomType">
    <label for="edible">Edible</label>
    <input type="radio" value="poisonous" id="poisonous" name="mushroomType">
    <label for="poinsonous">Poisonous</label>
  </div>
  <div>
    <div ng-repeat="mushroom in mushrooms">
      <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-xs-4">
            <h3> {{mushroom.name}} </h3>
            <p> {{mushroom.description}} </p>
        </div>
      </div>
  </div>
</section>